*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(248, 244, 244);
}

.beach{
    height: 400px;
    width: 100%;
    background-image: url("travel.jpeg");
    background-size: cover;
    padding: 30px;
    padding-top: 150px;
}
.navbar{
    height: 140px;
    width: 85%;
    border: 2px solid transparent;
    margin: 20px;
    margin-left: 100px;
    border-radius: 20px;
    display: flex;
    background-color: white;
    justify-content: center;
}
.guide{
    height:110px;
    width: 100px;
    border: 2px solid transparent;
    margin: 13px;  
}

.guide:hover{
    border: 5px solid rgb(11, 102, 220) ;
    border-radius: 10px;
    background-color: rgb(240, 245, 246);
}

.aero{
    height: 70px;
    width: 80px;
    border: 2px solid transparent;
    margin: 3px;
    border: none;
}

.cabs{
      height: 70px;
    width: 80px;
    background-image: url("taxi.png");
    background-size: cover;
}

.hotel{
      height:70px;
    width: 80px;
    background-image: url("5-stars.png");
    background-size: cover;
}
.homestay{
     height:70px;
    width: 80px;
    background-image: url("homestay.png");
    background-size: cover;
}
.restaurant{
     height:70px;
    width: 80px;
    background-image: url("restaurant-building.png");
    background-size: cover;
}
.holiday{
     height:70px;
    width: 80px;
    background-image: url("icons8-holiday-50.png");
    background-size: cover;
}
.forex_card{
    height:70px;
    width: 80px;
    background-image: url("icons8-magnetic-card-50.png");
    background-size: cover;
}
.travel_insurance{
     height:70px;
    width: 80px;
    background-image: url("icons8-travel-insurance-50.png");
    background-size: cover;
}

.destination{
     height:70px;
    width: 80px;
    background-image: url("destination\ logo.png");
    background-size: cover;
}

#para{
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
    margin-left: 14px;
}
#para:hover{
    color:rgb(11, 102, 220);
}


#heading{
    text-transform: uppercase;
    color: #86BBD8;
    font-size: 100px;
    font-weight: bolder;
    text-align: center;

}
p#paras{
    color: #86BBD8;
    font-size: 35px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content:space-evenly;
    margin: 50px;
    height: 600px;
    overflow: auto;

}
.cards .card h3{
    color: white;
    position: absolute;
    top: 480px;
    left: 20px;
    font-weight: 700;
    font-size: 20px;
}
.one{
    height: 300px;
    width: 100%;
    background-image: url("images/golden-temple.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.two{
    height: 550px;
    width: 100%;
     background-image: url("images/dwarka.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.three{
     background-image: url("images/bangarma.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.four{
     background-image: url("images/taj-mahal.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card{
    height: 550px;
    width: 330px;
    border: 2px solid transparent;
    text-align: center;
    position: relative;
    margin: 20px;
    border-radius: 50px;
}

.card:hover{
    transform: scale(1.1);
}

button a{
    color: white;
    background-color: red;
    border-radius: 8px;
    position: absolute;
    top: 510px;
    left: 110px;
    height: 30px;
    width:80px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.bigbox{
    height: 246px;
    width: 1200px;
    border: 2px solid transparent;
    margin: 30px;
    margin-left: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.bigbox1{
    height: 165px;
    width: 310px;
    border: 2px solid transparent;
    margin-left: 40px;
    margin-top: 40px;
}
.bigbox2{
    height: 165px;
    width: 250px;
    border: 2px solid transparent;
    border-radius: 20px;
    margin-top: 40px;
    border: none;
}
#flagship{
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin-top: 50px;
}
.flagship1{
    height: 165px;
    width: 250px;
    background-image: url("flagship1.png");
    background-size: cover;
}
.flagship2{
     height: 165px;
    width: 250px;
    background-image: url("flagship2.png");
    background-size: cover;
}
.flagship3{
     height: 165px;
    width: 250px;
    background-image: url("flagship3.png");
    background-size: cover;
}
.handpicked{    
    height: 360px;
    width: 85%;
    border: 2px solid transparent;
    margin-left: 100px  ;
    border-radius: 10px;
    background-color: white;
}
.heading1{
    margin: 20px;
}
.box-content{
    display: flex;
    justify-content: space-evenly;
    height: 250px;
    width: 100%;
    border: 2px solid transparent;
}
.smallbox{
    height: 231px;
    width: 230px;
    border: 1.2px solid transparent;
    border-radius: 10px;
}
.smallbox1{
    height: 231px;
    width: 230px;
    background-image: url("smallbox1.webp");
    background-size: cover;
    border-radius: 10px;
}
.smallbox2{
     height: 231px;
    width: 230px;
    background-image: url("smallbox2.avif");
    background-size: cover;
    border-radius: 10px;
}
.smallbox3{
     height: 231px;
    width: 230px;
    background-image: url("smallbox3.webp");
    background-size: cover;
    border-radius: 10px;
}
.smallbox4{
     height: 231px;
    width: 230px;
    background-image: url("smallbox4.avif");
    background-size: cover;
    border-radius: 10px;
}
.smallbox5{
     height: 231px;
    width: 230px;
    background-image: url("smallbox5.avif");
    background-size: cover;
    border-radius: 10px;
}
#parah{
    color: white;
    font-weight: 600;
    margin-left: 10px;
    text-decoration: none;
}
.parah{
    height: 180px;
}
.dubai{ 
    height: 108px;
    width: 80%;
    border: 2px solid transparent;
    border-radius: 20px;
    margin: 20px;
    margin-left: 160px;
    background-image: url("dubai.jpeg");
    background-size: cover;
    border: none;
}